<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jin.dao.provider.ProviderMapper">
    <select id="getProviderList" resultType="provider">
        select * from smbms_provider p
        <where>
            <if test="proName != null and proName != ''">
                and p.proName like concat ('%', #{proName}, '%')
            </if>
            <if test="proCode != null and proCode != ''">
                and p.proCode like concat ('%', #{proCode}, '%')
            </if>
        </where>
        order by creationDate desc limit #{from}, #{pageSize}
    </select>
    <select id="getProList" resultType="provider">
        select * from smbms_provider p order by creationDate desc
    </select>
    <select id="getProviderCount" resultType="int">
        select count(1) as count from smbms_provider p
        <where>
            <if test="proName != null and proName != ''">
                and p.proName like concat ('%', #{proName}, '%')
            </if>
            <if test="proCode != null and proCode != ''">
                and p.proCode like concat ('%', #{proCode}, '%')
            </if>
        </where>
    </select>
</mapper>